/*

░█████╗░░█████╗░██████╗░██╗███╗░░██╗░██████╗░  ██████╗░██╗░░░██╗  
██╔══██╗██╔══██╗██╔══██╗██║████╗░██║██╔════╝░  ██╔══██╗╚██╗░██╔╝  
██║░░╚═╝██║░░██║██║░░██║██║██╔██╗██║██║░░██╗░  ██████╦╝░╚████╔╝░  
██║░░██╗██║░░██║██║░░██║██║██║╚████║██║░░╚██╗  ██╔══██╗░░╚██╔╝░░  
╚█████╔╝╚█████╔╝██████╔╝██║██║░╚███║╚██████╔╝  ██████╦╝░░░██║░░░  
░╚════╝░░╚════╝░╚═════╝░╚═╝╚═╝░░╚══╝░╚═════╝░  ╚═════╝░░░░╚═╝░░░  

███████╗███╗░░░███╗░█████╗░██████╗░  ░█████╗░██████╗░███████╗██╗░░░░░
██╔════╝████╗░████║██╔══██╗██╔══██╗  ██╔══██╗██╔══██╗██╔════╝██║░░░░░
█████╗░░██╔████╔██║███████║██║░░██║  ███████║██║░░██║█████╗░░██║░░░░░
██╔══╝░░██║╚██╔╝██║██╔══██║██║░░██║  ██╔══██║██║░░██║██╔══╝░░██║░░░░░
███████╗██║░╚═╝░██║██║░░██║██████╔╝  ██║░░██║██████╔╝███████╗███████╗
╚══════╝╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═════╝░  ╚═╝░░╚═╝╚═════╝░╚══════╝╚══════╝
    
███████╗██████╗░░░░░█████╗░░█████╗░███╗░░░███╗░░░░██╗███████╗███╗░░░███╗░█████╗░██████╗░░█████╗░██████╗░███████╗██╗░░░░░░░██╗██╗
██╔════╝██╔══██╗░░░██╔══██╗██╔══██╗████╗░████║░░░██╔╝██╔════╝████╗░████║██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝██║░░░░░░██╔╝██║
█████╗░░██████╦╝░░░██║░░╚═╝██║░░██║██╔████╔██║░░██╔╝░█████╗░░██╔████╔██║███████║██║░░██║███████║██║░░██║█████╗░░██║░░░░░██╔╝░██║
██╔══╝░░██╔══██╗░░░██║░░██╗██║░░██║██║╚██╔╝██║░██╔╝░░██╔══╝░░██║╚██╔╝██║██╔══██║██║░░██║██╔══██║██║░░██║██╔══╝░░██║░░░░░███████║
██║░░░░░██████╦╝██╗╚█████╔╝╚█████╔╝██║░╚═╝░██║██╔╝░░░███████╗██║░╚═╝░██║██║░░██║██████╔╝██║░░██║██████╔╝███████╗███████╗╚════██║
╚═╝░░░░░╚═════╝░╚═╝░╚════╝░░╚════╝░╚═╝░░░░░╚═╝╚═╝░░░░╚══════╝╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═════╝░╚═╝░░╚═╝╚═════╝░╚══════╝╚══════╝░░░░░╚═╝

*/


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: #000000;
}

.container{
    background: #101010;
    width: 80vw;
    margin: 120px auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns:  5fr 3fr;
}

.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 15px;
}

.img img,canvas{
    max-width: 88vh;
    max-height: 60vh;
    border-radius: 25px;
}

.upload{
    text-align: center;
    margin-top: 20px;

}

.upload input{
    display: none;

}

.upload label{
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
}

.filters ul, .filters ul li{
    display: flex;
    flex-direction: column;
    gap: 15px;
    direction: rtl;
}

.filters ul li label{
    color: #fff;
}

.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;

}

.filters ul li a, span{
    margin-top: 23px;
    color: #fff;
    padding: 10px 20px;
    background: rgb(72, 12, 255);
    cursor: pointer;

}

@media screen and (max-width:650px)
{
    .container{
        grid-template-columns: 2fr;
        gap: 100px;
    }
    .img img,canvas{
        max-width:70vw;
    }
    
}
